//- - const card_number =  ['8', '3', '8', '0', '\xA0', '2', '8', '8', '0', '\xA0', '8', '0', '2', '8', '\xA0', '8', '7', '9', '1', '\xA0', '7', '4', '3', '5']
section#donation.donation.container
  .donation__content
    .image-content
    .text-content
      h2.donation__heading 
        | You can also
        br
        | make a donation
      p.donation__subheading
        | Name of the bank / Type of bank account 
      .credit-card
        img(src="./assets/icons/credit-card.svg" alt="credit-card icon") 
        .credit-card__number
          a(href="#donation") 8380 2880 8028 8791 7435
        //- each num in card_number
        //-   span #{num}
      .legal-info
        | Legal information and lorem ipsum dolor sit amet, consectetur 
        | adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac
        | diam. Praesent ultrices maximus tortor et vulputate. Interdum 
        | et malesuada fames ac ante ipsum primis in faucibus. 