section#our-friends.our-friends.container
  h2.our-friends__heading 
    | Our friends who 
    br
    | are looking for a house
  include ./slider
  button.button
    a(href="./pages/pets/pets.html")  Get to know the rest
