.slider
  .arrow.left
    img(src="./assets/icons/left-arrow.svg", alt="left arrow")
  .card-container  
    include ./cards
  .arrow.right
    img(src="./assets/icons/right-arrow.svg", alt="right arrow")  