nav
  ul.menu
    li
      a.nav-link.active(href="#") About the shelter
    li
      a.nav-link(href="./pages/pets/pets.html") Our pets
    li
      a.nav-link(href="#help") Help the shelter
    li
      a.nav-link(href="#footer") Contacts
.mobile-menu
  img(src="./assets/icons/burger.svg", alt="burger icon" width="30")      