nav
  ul.menu.pets-style
    li
      a.nav-link(href="../../index.html") About the shelter
    li
      a.nav-link.active(href="#") Our pets
    li
      a.nav-link(href="../../index.html#help") Help the shelter
    li
      a.nav-link(href="#footer") Contacts
.mobile-menu
  img(src="../../assets/icons/burger-black.svg", alt="burger icon" width="30")         